{:paths   ["src" "test" "target" "portfolio" "resources"]
 :deps    {org.clojure/clojure       {:mvn/version "1.12.1"}
           org.clojure/clojurescript {:mvn/version "1.12.42"}
           com.bhauman/figwheel-main {:mvn/version "0.2.20"}

           metosin/malli             {:mvn/version "0.19.1"}
           no.cjohansen/replicant    {:mvn/version "2025.06.21"}
           no.cjohansen/portfolio    {:mvn/version "2025.01.28"}
           philoskim/debux-stubs     {:mvn/version "0.9.1"}}
 :aliases {:dev  {:extra-deps {cider/cider-nrepl                      {:mvn/version "0.56.0"}
                               cider/piggieback                       {:mvn/version "0.6.0"}
                               io.github.robertluo/rich-comment-tests {:mvn/version "1.1.78"}
                               philoskim/debux                        {:mvn/version "0.9.1"}}}
           :test {:exec-fn   com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
                  :exec-args {:dirs #{"src"}}}}}
