^{:watch-dirs ["src" "portfolio"]
  :css-dirs ["resources/public/css"]
  :extra-main-files {:portfolio {:main dashcraft.scenes}}
  :auto-testing true
  :auto-bundle :webpack}
{:main robertluo.dashcraft.main}
