.echart
{
    width: 80%;
    aspect-ratio: 4/3;
}

.data-table table {
    width: 80%;
    border-collapse: collapse;
    height: auto;
}

.data-table table th {
    background-color: #e1e1e1;
    border: 1px solid;
}

.data-table table td {
    background-color: #fafafa;
    border: 1px solid;
    padding: 8px;
}

.number-cell {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.malli-editor-or-choices,
.malli-editor-orn-choices,
.malli-editor-extra-keys-title {
    color: #8f8dac;
}

.malli-editor-btn a:link,
.malli-editor-btn a:visited {
    color: white;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #b9b8cb;
    border-radius: 0.1em;
}

.malli-editor {
    font-family: monospace;
    color: #151640;
    line-height: 2;
}

.malli-editor input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid #b9b8cb;
}

.malli-editor-invalid {
    background: #fc9483
}

.malli-editor select {
    font-family: inherit;
    font-size: inherit;
}

.malli-editor-example h2 {
    font-family: monospace;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}